html{
	scroll-behavior:smooth;
	font-family: 'Roboto', sans-serif;
}

nav{
    width:100%;
}

ul {
	padding:0;
}

aside{
	padding:1%;
}
.menu{
	min-height:10vh;
    display:flex;
	flex-wrap:wrap;
    list-style:none;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
	outline:1px solid #FFF8DC;
}

.menu>li{
	color:#FFF8DC;
	text-decoration:none;
	padding: 3vh;
    cursor: pointer;
}
.submenu{
	font-size:0.6em;
	display:none;
    position: absolute;
	background-color:#DC143C;
    padding:0;
    margin:0;
    list-style:none;
}
.menu>li:hover{
	transition-duration: 0.4s;
	color:#DC143C;
    background-color:#FFF8DC;
	text-shadow: 2px 2px 5px #DC143C;
	box-shadow: 5px 10px 18px #DC143C;
	
}

.menu>li:hover>a:first-child{
	transition-duration: 0.4s;
	color:#DC143C;
	text-shadow: 2px 2px 5px #DC143C;
	
}

.dropdown{
	font-size:1.5em;
	font-weight:bold;
    padding:0;
}
li>h2{
	/*
    margin-left:1em;
    margin-right:1em;
	*/
}
.dropdown:hover .submenu{
	transition-duration: 0.4s;
    display:block;
}

.submenu>li{
    height: 100%;
    padding:1em;
}
.submenu>li>a{
    text-decoration:none;
    color: #FFF8DC;
    margin:1em;
}
.submenu>li:hover{
	transition-duration: 0.4s;
    background-image:linear-gradient(to right, rgba(255, 99, 71, 0), rgba(255, 99, 71, 1));
	text-shadow: 2px 2px 5px #FFF8DC;
}

h1
{
	padding:1%;
	font-size:35px;
	text-align:center;
	letter-spacing: -1px;
	color:#FFF8DC;
	
}

h1:hover
{
	transition-duration: 0.2s;
	text-shadow: 5px 5px 5px #DC143C;
}

h1#id1 {
	margin:0;
}

.as {
	text-align:justify;
	color:#FFF8DC;
	font-size: 1.1rem;
}

.menu>a{
	color:#FFF8DC;
}

a{
	color:#FFF8DC;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	transition-duration: 0.4s;
	text-shadow: 2px 2px 5px #b22143;
	font-size:1.1em;
	font-weight:bold;
	color:#DC143C;
}

ul{
	padding:0;
}

body{
	margin:0;
	background-color: white;
}

#idp
{
	font-size: 1rem;
	color: #b22143;
}

#pa{
	display:inline;
	margin-top:0!important;
}


footer {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	height:40vh;
	background-color: #393c41;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
	background-color: #393c41;
}


footer img{
	display:inline-block;
	height:100%;
}

footer img:hover{
	transition-duration:2s;
}

footer div{
	height:24%;
}

footer div:hover{
	transition-duration:2s;
}


footer p:nth-child(1){
	margin-top:0.8%;
}

.afisTemplate
{
  width:40%;
	margin:1.5%;
	box-shadow:5px 10px 8px #ad3c3c;
  padding:1.5%;
  font-family: 'Roboto', sans-serif;
  padding:3%;
	display:flex;
	justify-content:space-around;
	flex-wrap:wrap;
	color:#ba3527;
}

.templ_tablou
{
  color:rgb(187, 64, 64);
  flex-flow:column;
	align-items:stretch;
}

main > p
{
	color:white;
}

.infoAlertWrapper
{
  top:5%;
  width: 100%;
  position: fixed;
  background: transparent;
  text-align:center;
  z-index:5001;
}

.infoAlert
{
  border:solid;
  display: inline-block;
  padding:15px;
  font-family:"Muli";
  font-size:20px;
  background-color:rgb(195, 255, 247)5);
  border-radius:15px;
}

.infoAlert-okButton
{
  background-color: rgb(86, 204, 219);
  border: none;
  border-radius:20px;
  text-decoration:none;
  color: white;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

.infoAlert-okButton:focus
{
  outline:none;
}

.infoAlert-okButton:hover
{
  background-color: rgb(93, 109, 197);
}

.errorAlertWrapper
{
  display:none;
  top:5%;
  width: 100%;
  position: fixed;
  background: transparent;
  text-align:center;
  z-index:5001;
}

.errorAlert
{
  border:solid;
  display: inline-block;
  padding:15px;
  font-family:"Muli";
  font-size:20px;
  background-color:rgb(255, 214, 214);
  border-radius:15px;
}

.errorAlert-okButton
{
  background-color: rgb(219, 0, 153);
  border: none;
  border-radius:20px;
  text-decoration:none;
  color: white;
  padding: 3px 16px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  margin-top:10px;
  margin-left:auto;
  margin-right:auto;
}

.errorAlert-okButton:focus
{
  outline:none;
}

.errorAlert-okButton:hover
{
  background-color: rgb(204, 79, 162);
}

.containerTati {
	width:100%;
	height:auto;
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
	
}

.container {
	/*
	position:absolute;
	max-height:50%;
	right:15%;
	top:35%;
	*/
	margin-right:10%;
	margin-bottom:2%;
	font-family: 'Roboto', sans-serif;
    background: #fff;
    box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.5);
    color: inherit;
    border-radius: 1%;
    padding: 1%;
    max-width: 20vw;

}

.header-grid {
	
    border-bottom: 2px solid #b22143;
    color: #b22143;
    font-size: 1rem;
    margin: 5%;
}

.py-4 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  display: block;
  box-sizing: border-box;
  -webkit-box-direction: normal !important;
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
}

.auth-container {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  -webkit-box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 20px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  display: block;
  -webkit-box-direction: normal !important;
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
}

.signup-content {
  padding: 75px 0;
}

.signup-form, .signup-image, .signin-form, .signin-image {
  width: 50%;
  overflow: hidden;
  display: block;
}
