html{
	scroll-behavior:smooth;
	font-family: 'Roboto', sans-serif;
}

nav{
    width:100%;
}

ul {
	padding:0;
}

aside{
	padding:1%;
}
.menu{
	min-height:10vh;
    display:flex;
	flex-wrap:wrap;
    list-style:none;
    justify-content: flex-start;
    align-items:center;
    width: 100%;
	outline:1px solid #FFF8DC;
}

.menu>li{
	color:#FFF8DC;
	text-decoration:none;
	padding: 3vh;
    cursor: pointer;
}
.submenu{
	font-size:0.6em;
	display:none;
    position: absolute;
	background-color:#DC143C;
    padding:0;
    margin:0;
    list-style:none;
}
.menu>li:hover{
	transition-duration: 0.4s;
	color:#DC143C;
    background-color:#FFF8DC;
	text-shadow: 2px 2px 5px #DC143C;
	box-shadow: 5px 10px 18px #DC143C;
	
}

.menu>li:hover>a:first-child{
	transition-duration: 0.4s;
	color:#DC143C;
	text-shadow: 2px 2px 5px #DC143C;
	
}

.dropdown{
	font-size:1.5em;
	font-weight:bold;
    padding:0;
}
li>h2{
	/*
    margin-left:1em;
    margin-right:1em;
	*/
}
.dropdown:hover .submenu{
	transition-duration: 0.4s;
    display:block;
}

.submenu>li{
    height: 100%;
    padding:1em;
}
.submenu>li>a{
    text-decoration:none;
    color: #FFF8DC;
    margin:1em;
}
.submenu>li:hover{
	transition-duration: 0.4s;
    background-image:linear-gradient(to right, rgba(255, 99, 71, 0), rgba(255, 99, 71, 1));
	text-shadow: 2px 2px 5px #FFF8DC;
}

h1
{
	padding:1%;
	font-size:35px;
	text-align:center;
	letter-spacing: -1px;
	color:#FFF8DC;
	
}

h1:hover
{
	transition-duration: 0.2s;
	text-shadow: 5px 5px 5px #DC143C;
}

h1#id1 {
	margin:0;
}

.as {
	text-align:justify;
	color:#FFF8DC;
	font-size: 1.1rem;
}

.menu>a{
	color:#FFF8DC;
}

a{
	color:#FFF8DC;
	font-weight:bold;
	text-decoration:none;
}

a:hover{
	transition-duration: 0.4s;
	text-shadow: 2px 2px 5px #b22143;
	font-size:1.1em;
	font-weight:bold;
	color:#DC143C;
}

ul{
	padding:0;
}

body{
	margin:0;
	background-color: black;
}

#idp
{
	font-size: 1rem;
	color: #b22143;
}

#pa{
	display:inline;
	margin-top:0!important;
}


footer {
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	align-items:center;
	height:40vh;
	background-color: #393c41;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
	background-color: #393c41;
}


footer img{
	display:inline-block;
	height:100%;
}

footer img:hover{
	transition-duration:2s;
}

footer div{
	height:24%;
}

footer div:hover{
	transition-duration:2s;
}


footer p:nth-child(1){
	margin-top:0.8%;
}

.afis
{
	background-color: white;
	width: 200px;
	height: 200px;
}

.afisTemplate
{
	background-color: yellow;
	width: 200px;
	height: 200px;
}