<footer>
	<script src="javascript/nrCuvinte.js"></script>
	<p> Galeria este situata pe strada Marie-Antoinette, no. 13, Paris. </p>
	<p> Contact: </p>
		<a href=mailto:alexandra.nanu@my.fmi.unibuc.com> alexandra.nanu@my.fmi.unibuc.com </a> 	
	<p> <small> Catre inceputul documentului </small> <a href="#"> La Fontaine </a> </p>
	<div>
		<a href="https://www.instagram.com/aspire_romania/">
		<img src = "../poze/instagram.png" alt = "IG" title = "INSTAGRAM" > </a>
		<a href="https://www.facebook.com/nanu.alexandra/">
		<img src = "../poze/facebook_st.png" alt = "FB" title = "FACEBOOK" > </a>
		<a href="https://www.linkedin.com/in/alexandra-nanu-587ba01a5/">
		<img src = "../poze/linkedin.png" alt = "IN" title = "LINKEDIN" > </a>
	</div>
	<div id = "nrCuvinte"></div>
	<div id = "timeOnPage"></div>
</footer>