<header>
			<nav class="top-bar"> <h1 id = "id1" > Galeria de arta <i> La Fontaine </i> </h1> </nav>
			 <nav>
                <ul class="menu">
                    <li class="dropdown"> <a href="Galerie1"> Home </a>
                        <ul class="submenu"> 
                                <li> <a href="Galerie1"> Inspiratie </a> </li>
                                <li> <a href="Galerie1"> Motivatie </a> </li>
                                <li> <a href="Galerie1"> Enclava a istoriei </a> </li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a href = "Curente2"> Opere de arta </a>
                        <ul class="submenu">
                                <li> <a href="Curente2"> Tablouri </a> </li>
                                <li> <a href="Sculpturi3"> Sculptura </a> </li>
                        </ul>
                    </li>
                    <li class="dropdown"> <a href="LogIn4"> LogIn </a> </li>
                    <li class="dropdown"> <a href="Curente2"> Curente </a> </li>
                    <li class="dropdown"> <a href="register"> Inregistreaza-te </a> </li>
                    <li class="dropdown"> <a href="ex_ajax"> Tablouri </a> </li>
                </ul>
                <% if(!locals.username) { %>
                    <li><a href="/LogIn4">Log in</a></li>

                            <% }
                                else { %>

                                    <li><a href="/logout">Logout - <%= locals.username %> </a></li>
                                <% } %>            
            </nav>
            

			<aside class="as"> <em> Sculptura </em> </aside>
			<div  class="containerTati">
			<div class="container">
				<div class="header-grid"> <p> Sculptura este o artă a volumelor în spațiu care încearcă să atingă coarda sensibilă a persoanelor umane prin expunerea spațială a diferite obiecte reale, tridimensionale. 
				</p> </div>
				<div class="header-grid"> <p> Din păcate, nu poate fi atinsă întotdeauna o sculptură, așa cum ar fi firesc, dar se pot compensa cu ușurință convențiile sociale de privire de la distanță a pieselor de sculptură prin vedere, ce are remarcabila proprietate de a transmite la creier și tridimensionalitatea obiectelor, întrucât vederea umană este stereoscopică.
				</p> </div>
			</div>
			</div>
			
		</header>