<!DOCTYPE html>
<html lang = "ro" >
	<head>
		<title> Galeria de arta La Fontaine </title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.jpg"/>
		<meta charset = "UTF-8">
		<meta name = "author" content = "Alexandra Nanu">
		<meta name = "description" content = " Galerie de arta moderna cu posibilitatea cumpararii tablourilor ">
		<meta name = "keywords" content = "Klimt, Kandinsky, Dali, Magritte">
		<link rel="stylesheet" type="text/css" href="../css/style.css"/>
		<link rel="stylesheet" type="text/css" href="../css/styledebaza.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	<%- include('../fragmente/header') %>
	
		<main>
			<section>
                <h1> Nu s-a gasit pagina. </h1> 
			</section>
		</main>
		<%- include('../fragmente/footer') %>
	</body>
</html>