<!DOCTYPE html>
<html lang = "ro" >
	<head>
		<title> Curente  </title>
		<link rel="shortcut icon" type="image/x-icon" href="./poze/favicon.jpg"/>
		<meta charset = "UTF-8">
		<meta name = "author" content = "Alexandra Nanu">
		<meta name = "description" content = " Despre arta - pagina 2 ">
		<meta name = "keywords" content = "Renascentism, Traditionalism, Modernsim">
		<link rel="stylesheet" type="text/css" href="../css/style2.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<%- include('../fragmente/header') %>
		<main>
			<div class="div-mare">
			<section>
				<div class="st1">
				<h2 id = "id42" > Renascentism </h2> <!-- in section -->
				<div class="item1">
				<p> <em> Renașterea </em> a fost o mișcare culturală care s-a întins pe perioada secolelor XIV-XVI. A debutat în Italia, în perioada Evului Mediu Târziu și ulterior, s-a răspândit în restul Europei. Deși apariția tiparului a accelerat difuzarea ideilor în secolul al XV-lea, schimbările Renașterii nu au fost experimentate uniform de întreaga Europă.  </p>
				<p> Ca o mișcare culturală, a cuprins înflorirea inovatoare a literaturii latine și autohtone, începând din secolul al XIV-lea, când erau cercetate sursele literare din antichitatea clasică căreia i-a fost creditată lui Francesco Petrarca, apoi a debutat dezvoltarea liniară de perspectivă a tehnicilor de acordare a unei realități mult mai naturale în pictură, și treptat, la scară largă ceea ce a dus la o reforma educațională. </p>
				<p> În politică, Renașterea a contribuit la dezvoltarea convențiilor diplomatice precum și în știință. Istoricii susțin că Renașterea a fost perioada de tranziție dintre Evul Mediu și Istoria Modernă. Renașterea a văzut revoluții în preocupări intelectuale, dar și schimbări sociale și politice ce au influențat evoluțiile artistice și contribuțiile depuse de personalități ca Leonardo da Vinci, după care a fost inspirat noțiunea de "omul renașterii". 
				</p>
				<figure>
					<img src = "../poze/Omul_vitruvian.jpg" alt = "Omul Vitruvian" title = "Omul Vitruvian" height = "150" width = "100"  >
					<figcaption> Omul vitruvian - Leonardo Da Vinci </figcaption>
				</figure>
				</div>
				</div>
			</section>
			<section>
				<div class="st2">
				<h2 id = "id56" > Iluminism </h2>
				<div class="item2">
				<p> <em> Iluminismul </em>, numit și <em> Epoca Luminilor </em> sau <em> Epoca Rațiunii </em>, a fost o mișcare intelectuală, filozofică, ideologică și culturală, antifeudală, desfășurată în perioada pregătirii și înfăptuirii revoluțiilor din sec. XVII-XIX în țările Europei, ale Americii de Nord și ale Americii de Sud și având drept scop crearea unei societăți „raționale”, prin răspândirea culturii, a „luminilor” în mase (cf. Carp Maxim). </p>
				<p> Iluminismul românesc se identifică în mare măsură cu Școala Ardeleană și cu reverberațiile ei transcarpatine. Acest iluminism a stat în serviciul idealului național, la a cărui fundamentare a contribuit hotărâtor. Iluminismul românesc va recurge, la rândul său, la argumentele istorice în favoarea unor revendicări politice. </p>
				<p> Iluminismul a pretins eliberarea ființei umane de sub tutela sa autoindusă. "Tutela este incapacitatea ființei umane de a-și folosi abilitățile cognitive în lipsa instrucțiunilor de la o altă persoană. Această tutelă este auto-indusă atunci când cauza sa nu rezidă în absența rațiunii, ci în absența hotărârii și a curajului de a lua hotărâri fără instrucțiuni de la o altă persoană". Sapere aude! "Aveți curajul de a vă folosi propriul simț al rațiunii!" – acesta este motto-ul Iluminismului (Immanuel Kant).
				</p>
				<figure>
					<img src = "../poze/Enciclopedia_iluminista.jpg" alt = "Enciclopedia iluminista" title = "Enciclopedia iluminista" height = "150" width = "100" >
					<figcaption> Enciclopedia iluminista </figcaption>
				</figure>
				</div>
				</div>
			</section>
			<section>
				<div class="st3">
				<h2 id = "id67" > <b> Traditionalism </b> </h2> 
				<div class="item3">
					<p> <em> Tradiționalismul </em> este o mișcare literară, manifestată în perioada interbelică, a cărei ideologie se cristalizează în jurul revistei „Gândirea”, care a apărut în perioada 1921 - iunie 1944.  </p>
					<p> Tradiționalismul este o orientare literară a literaturii române către folclor și etnografie, către civilizația rurală în tematica operelor literare, concomitent cu respingerea culturii urbane moderne. </p>
					<p> Tradiționalismul românesc cuprinde trei curente înrudite prin apropierea de tradiția rurală și diferite prin modul în care se realizează această apropiere: sămănătorismul, poporanismul și gândirismul. </p>
					<p> Din punct de vedere formal , scriitorii grupati in jurul revistei „Gandirea”, au preluat unele mijloace de realizare din curentele moderniste, astfel incat, spre deosebire de samanatorism si poporanism, in literatura gandirista se remarca o sinteza intre traditionalism si modernism( poezia lui Blaga asociaza fondul traditionalist cu versificatia moderna, iar traditionalismul arghezian imbraca forme ermetice: artele poetice, Psalmii). </p>
					<figure>
					<img src = "../poze/Ghetsemani.jpg" alt = "Vasile Voiculescu" title = "In gradina Ghetsemani" height = "150" width = "100"  >
					<figcaption> In Gradina Ghetsemani </figcaption>
				</figure>
				</div>
				</div>
			</section>
			<section>
				<div class="st4">
				<h2 id = "id78" > <b> Modernism </b> </h2>
				<div class="item4">
				<p> <em> Modernism </em> este o mișcare culturală, artistică și ideatică ce include artele vizuale, arhitectura, muzica și literatura progresivă care s-a conturat în circa trei decenii înainte de anii 1910 - 1914, când artiștii s-au revoltat tradițiilor academice și istorice impuse și considerate standard ale secolelor anterioare, începând cu cele ale secolului al XIV-lea și culminând cu rigiditatea și "osificarea" academismului secolului al 19-lea. </p>
				<p> În literatura română, teoreticianul acestui curent este Eugen Lovinescu, care afirmă despre existența unui "spirit al epocii", care influențează literaturile mai puțin dezvoltate să se raporteze la altele mai evoluate.Astfel, el preia "teoria formelor fără fond" a lui Titu Maiorescu, cu precizarea că "formele trebuie să-și creeze un fond propriu". </p>
				<p> Artiștii abstracți, inspirați de mișcarea impresionistă și de lucrările lui Paul Cézanne și Edvard Munch, au pornit conceptual de la presupunerea că atât culoarea cât și forma - nu reprezentarea lumii naturale - sunt elementele esențiale ale artei vizuale. Astfel, Wassily Kandinsky, Piet Mondrian și Kazimir Malevich au încercat să redefinească arta ca și aranjamentul culorii pure. 
				</p>
				<figure>
					<img src = "../poze/Salvador_Dali.jpg" alt = "Salvador Dali" title = "Salvador Dali" height = "150" width = "150"  >
					<figcaption> Salvador Dali </figcaption>
				</figure>
				</div>
				</div>
			</section>
			<section>
				<div class="st5">
				<h2 id = "id81" > Avangardism </h2>
				<div class="item5">
				<p> <em> Avangardismul </em> (conform termenului din franceză, avant-garde) reprezintă tendințele de maximă actualitate aplicate în artă la un moment considerat. Fără menționarea unor indicații temporale, se subînțeleg de regulă două variante: fie pionieratele artistice ale momentului în care se discută, fie experimentele abundente desfășurate de-a lungul perioadei interbelice. </p>
				<p> Termenul își are originea în jargonul militar din limba franceză, desemnând detașamentul care explorează terenul necunoscut pentru a pregăti înaintarea grosului trupei. Antonimul termenului avangardă, folosit de asemenea în terminologia militară, este ariergardă. </p>
				<p> Mai mulți scriitori au încercat să stabilească parametrii activității avangardiste. Renato Poggioli, eseistul italian, oferă una dintre cele mai vechi analize ale avangardismului ca fenomen cultural în cartea sa "Teoria dell'arte d'avanguardia" (Teoria avangardei) din 1962.[1] Studiind aspectele istorice, sociale, psihologice și filozofice ale avangardismului, Poggioli ajunge dincolo de exemple individuale de artă, poezie și muzică, pentru a arăta că avangardistii pot împărtăși anumite idealuri sau valori care se manifestă în stilurile de viață neconformiste pe care le adoptă: El vede cultura avangardă ca o varietate sau subcategorie a boemiei. Alți autori au încercat să clarifice și să extindă studiul lui Poggioli
				</p>
				<figure>
					<img src = "../poze/PabloPicasso.jpg" alt = "Pablo Picasso" title = "Pablo Picasso" height = "150" width = "100"  >
					<figcaption> Pablo Picasso </figcaption>
				</figure>
				</div>
				</div>
			</section>
		</div>
		</main>
		<%- include('../fragmente/footer') %>
	</body>
</html>