<!DOCTYPE html>
<html lang="ro">
  <head>
		<title> Galeria de arta La Fontaine </title>
		<link rel="shortcut icon" type="image/x-icon" href="./poze/favicon.jpg"/>
		<meta charset = "UTF-8">
		<meta name = "author" content = "Alexandra Nanu">
		<meta name = "description" content = " Galerie de arta moderna cu posibilitatea cumpararii tablourilor ">
		<meta name = "keywords" content = "Klimt, Kandinsky, Dali, Magritte">
		<link rel="stylesheet" type="text/css" href="../css/style.css"/> 
		<link rel="stylesheet" type="text/css" href="../css/styledebaza.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
  <body onload = "Reload();">
    <%-  include('../fragmente/header')  %>
    <main>
            <!-- aici se va afisa continutul neprocesat al JSON-ului -->
            <div class="afisTemplate" id="afisTemplate"> </div>
            <br>
            <button onclick = "SorteazaCrescator()">Crescator</button>
            <button onclick = "SorteazaDescrescator()">Descrescator</button>
            <button onclick = "ResetSortare()">Reset</button>
            <br><br>
            <p>Id: <input type = "text" id = "inputId"> </p>
            <p>Medie: <span id = "medie"></span></p>
            <button onclick = "Filtreaza()">Filtreaza</button>
    </main>
    <%- include('../fragmente/footer') %>

    <script src="javascript/test.js"></script>

    <div class="errorAlertWrapper" id="errorAlertWrapper">
      <div class="errorAlert" id="errorAlert">
        <div id="errorAlert-text"></div>
        <button class="errorAlert-okButton" id="errorAlert-okButton">

        </button>
      </div>
    </div>
  </body>
</html>