<!DOCTYPE html>
<html lang="ro">
	<head>
       <title> Comenzi </title>
		<link rel="shortcut icon" type="image/x-icon" href="./poze/favicon.jpg"/>
		<meta charset = "UTF-8">
		<meta name = "author" content = "Alexandra Nanu">
		<meta name = "description" content = " Sa ne autentificam ">
		<meta name = "keywords" content = "Password, E-mail, Contact">
		<link rel="stylesheet" type="text/css" href="../css/style4.css"/>
		<link rel="stylesheet" type="text/css" href="../css/styledebaza.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <%- include('../fragmente/header') %>
        
        <main>
            <section>
                <h3>CONECTEAZA-TE!</h3>
                <form method="POST" action="/LogIn4">
                    <div class="formular">
                    <label for="email">Email</label><br>
                    <input type="email" id="email" name="email" value="exemplu@email.com"><br>
                    <label for="parola">Parola</label><br>
                    <input type="password" id="parola" name="parola" value="password1234"><br><br>
                    <input type="submit" value="Submit" class="butonBack" style="background-color: #1a1a1a;">
                    </div>
                </form> 
                <h3>Fa-ti cont acum!</h3>
                <div class="butonBack" style="width: fit-content;">
                </div>
            </section>
        </main>
        <%- include('../fragmente/footer') %>
    </body>
</html>