<!DOCTYPE html>
<html lang = "ro" >
	<head>
		<title> Sculpturi </i> </title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.jpg"/>
		<meta charset = "UTF-8">
		<meta name = "author" content = "Alexandra Nanu">
		<meta name = "description" content = " In lumea sculptuilor  ">
		<meta name = "keywords" content = "Rodin, Brancusi, Ezra">
		<link rel="stylesheet" type="text/css" href="../css/style3.css"/>
		<link rel="stylesheet" type="text/css" href="../css/styledebaza.css"/>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
        <%- include('../fragmente/header') %>
		
		<main>
			<section class="galerie">
            <div class="gr">
                <figure>
                    <img src="../poze/sculpt1.jpg" class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Rapirea din Serai</h3>
                        <p>Auguste Rodin</p> </div>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../poze/sculpt3.jpg" class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Century of Light</h3>
                        <p>Jim Pallas</p> </div>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../poze/sculpt4.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text">
                            <div class="text"><h3>Wind and The Elephant</h3>
                            <p>Philip Pavia</p> </div>
                        </div>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../poze/sculpt5.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Fierce</h3>
                        <p>Ezra Orion</p></div>
                    </figcaption>
                </figure>  
                <figure>
                    <img src="../poze/sculpt6.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Bust of Eugene O'Neill</h3>
                        <p>Edmond Thomas Quinn</p></div>
                    </figcaption>
                </figure>        
                <figure>
                    <img src="../poze/sculpt7.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Leander</h3>
                            <p>William Henry Rinehart</p>
                        </div>
                    </figcaption>
                </figure>        
                <figure>
                    <img src="../poze/sculpt8.jpg"  class="imageut">
                    <figcaption class="overlay">
						<div class="text"><h3>Hero</h3>
                            <p>William Henry Rinehart</p>
                        </div>
                    </figcaption>
                </figure>    
                <figure>
                    <img src="../poze/sculpt9.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Thetis</h3>
                            <p>William Henry Rinehart</p>
                        </div>
                    </figcaption>
                </figure>    
                <figure>
                    <img src="../poze/sculpt10.jpg" class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Artemis</h3>
                        <p>Eric Gill</p></div>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../poze/sculpt11.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text">
                           <div class="text"><h3>Lieutenant Gobl</h3>
                            <p>Eric Gill</p></div>
                        </div>
                    </figcaption>
                </figure>
                <figure>
                    <img src="../poze/sculpt13.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>Ariel Between Wisdom and Gaiety</h3>
                        <p>Eric Gil</p></div>
                    </figcaption>
                </figure>  
                <figure>
                    <img src="../poze/sculpt14.jpg"  class="imageut">
                    <figcaption class="overlay">
                        <div class="text"><h3>The Kiss</h3>
                        <p>Alberto Giacometti</p></div>
                    </figcaption>
                </figure>
            </div>
        </section>
		</main>
        <%- include('../fragmente/footer') %>
	</body>
</html>